/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 12, ../sass/screen.scss */
body {
  background: url(../img/logo.jpg) fixed no-repeat right bottom;
}

/* line 16, ../sass/screen.scss */
#create-contact {
  display: none;
  -webkit-box-shadow: inset 0 0 50px black;
  -moz-box-shadow: inset 0 0 50px black;
  box-shadow: inset 0 0 50px black;
  color: #eeeeee;
  background: #222222;
}
/* line 21, ../sass/screen.scss */
#create-contact h2 {
  color: #eeeeee;
}

/* line 26, ../sass/screen.scss */
#contact-list {
  height: 480px;
  overflow: scroll;
}

/* line 31, ../sass/screen.scss */
#chat {
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 10px #ddedff;
  -moz-box-shadow: 0 0 10px #ddedff;
  box-shadow: 0 0 10px #ddedff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0 10px;
  height: 570px;
  overflow: scroll;
  position: relative;
}
/* line 32, ../sass/screen.scss */
#chat .stream {
  height: 502px;
  overflow: scroll;
}
/* line 45, ../sass/screen.scss */
#chat input[type=text] {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  padding: 5px 10px;
  margin: 0;
  height: auto;
  border: none;
  border-top: 1px solid #ddd;
  background: #eee;
}
/* line 57, ../sass/screen.scss */
#chat input[type=text]:focus {
  box-shadow: none;
}
/* line 62, ../sass/screen.scss */
#chat input[type=submit] {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: yellowgreen;
  margin: 0;
  height: 27px;
  line-height: 8px;
  outline: none;
}
/* line 74, ../sass/screen.scss */
#chat p {
  font-size: 12px;
  margin-bottom: 5px;
}
/* line 78, ../sass/screen.scss */
#chat .text-info {
  color: #94bac6;
}
/* line 81, ../sass/screen.scss */
#chat .text-success {
  color: yellowgreen;
}
/* line 85, ../sass/screen.scss */
#chat .text-muted {
  color: gray;
}

/* line 90, ../sass/screen.scss */
.upload {
  position: absolute;
  bottom: 27px;
  text-transform: capitalize;
  color: #ddd;
  left: 0;
  right: 0;
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, 0);
}

/* line 100, ../sass/screen.scss */
.drop-active {
  color: black;
  border: 2px dashed #aaa;
}
