/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 12, ../sass/screen.scss */
body {
  background: url(../img/logo.jpg) fixed no-repeat right bottom;
}

/* line 16, ../sass/screen.scss */
#create-contact {
  display: none;
  -webkit-box-shadow: inset 0 0 50px black;
  -moz-box-shadow: inset 0 0 50px black;
  box-shadow: inset 0 0 50px black;
  color: #eeeeee;
  background: #222222;
}
/* line 21, ../sass/screen.scss */
#create-contact h2 {
  color: #eeeeee;
}

/* line 26, ../sass/screen.scss */
#contact-list {
  height: 480px;
  overflow: scroll;
}

/* line 31, ../sass/screen.scss */
#chat {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 10px #ddedff;
  -moz-box-shadow: 0 0 10px #ddedff;
  box-shadow: 0 0 10px #ddedff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0 10px;
  height: 600px;
  overflow: scroll;
}
/* line 41, ../sass/screen.scss */
#chat p {
  font-size: 12px;
  margin-bottom: 5px;
}
/* line 45, ../sass/screen.scss */
#chat .text-info {
  color: #94bac6;
}
/* line 48, ../sass/screen.scss */
#chat .text-success {
  color: yellowgreen;
}
/* line 52, ../sass/screen.scss */
#chat .text-muted {
  color: gray;
}
